body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 5%;
    background-color: #2e2d2d;
    color: #fff;
}

.stopwatch {
    display: inline-block;
    padding: 15%;
    border-radius: 10px;
    background: #0f0f0f;
}

button {
    margin: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2e2d2d;
    border: none;
    color: #fff;
    border-radius: 15%;
}
